.body {
  width: 100%;
  height: 100%;
}

.box-logo {
  padding: 10px;
  width: 150px;
  height: 150px;
}

a {
  text-decoration: none;
}

.slider {
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 120px;
  z-index: 7;
}

.slider-card-title,
.slider-card-description {
  margin: 5px 5px 5px 5px;
}

.slider-card-title {
  font-weight: 500;
}

.slider-card-description {
  opacity: 0.5;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 5px;
}

.slider-card {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 320px;
  cursor: pointer;
}

.homepanel_post-box {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  transition: 0.4s;
}
.homepanel_post-box:hover,
.homepanel_post-box:focus {
  color: var(--color-green);
  max-width: 330px;
font: 1.2em sans-serif;
  border: 8px solid rgba(0, 0, 0, 0);
}

/*   1440  900   880    390 */
@media screen and (max-width: 1440px) {
  .homepanel_post-box {
    max-width: 300px;
  }
  .slider-card {
    min-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .homepanel_post-box {
    max-width: 280px;
  }
  .homepanel_post-box:hover,
  .homepanel_post-box:focus {
    color: var(--color-green);
    max-width: 330px;
    border: 3px solid var(--color-green);
  }
  .slider {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
  }
  .slider-card {
    min-width: 220px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 880px) {
  .slider-card {
    min-width: 200px;
  }
}

@media screen and (max-width: 390px) {
  .homepanel_post-box {
    max-width: 200px;
  }
  .slider {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1px;
  }
  .slider-card {
    max-height: 220px;
    margin-top: 4px;
  }
}
