.body {
  width: 100%;
  height: 100%;
}

.box-logo {
  padding: 10px;
  width: 150px;
  height: 150px;
}

.slider {
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 120px; 
   z-index: 7;
}

.slider-card-description {
  opacity: 0.5;
  font-size: 13px;
  margin-bottom: 10px;
  padding: 5px;
  margin: 15px 5px 15px 5px;
}

.slider-card {
  margin-left: 5px;
  margin-right: 5px;
  min-width: 320px;
  cursor: pointer;
}

.homepanel_post-box {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

@media screen and (max-width: 880px) {
  #slider {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    height: 100%;
  }
  .slider-card {
    margin-top: 5px;
    min-width: 200px;
  }
  .left {
    height: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .homepanel_post-box {
    max-width: 200px;
  }
  .slider-card {
    margin-left: 5px;
    margin-right: 5px;
    min-width: 220px;
    cursor: pointer;
}
}
@media screen and (max-width: 1280px) {
  .homepanel_post-box {
    max-width: 200px;
  }
  .slider-card {
    margin-left: 5px;
    margin-right: 5px;
    min-width: 220px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1380px) {
  .homepanel_post-box {
    max-width: 240px;
  }
}

